*{
    font-family: "Helvetica Neue", sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
main{
    height: 100%;
}
#bigHeader{
    background-color: #85b0fa;
    color: white;
    width: 100%;
    padding: 10px;
}
footer
{
    background-color: #a6c5ff;
    padding: 10px;
}